[submodule "contracts/tasklync/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/tasklync/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
